<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/css') %>
    <title>HomePage</title>
  </head>
  <body>
      <%- include('./partials/nav') %>
    <%- include('./partials/scripts') %>
  </body>
</html>
